@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600&family=Inter:wght@200;300;400;500;600&display=swap');

/* font-family: 'Geologica', sans-serif;
font-family: 'Inter', sans-serif;
#E4572E
#508484
#000001
#AA4586
#F5F5F5
#db8070
#545454
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Geologica', sans-serif; ;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/imgproducto/ovejashorizon.jpg);
    background-size: cover;
}


/* NAVBAR */

header {
    width: 100%;
}

/* NAVBAR */

nav {
    width: 100%;
    background: #f5f5f5;
    box-shadow: #000001 0px 4px 8px;
    position:fixed;
    z-index: 100;
    top: 0;
    height: 80px;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    line-height: 80px;
    z-index: 100;
}

.container_logo img {
    height: 80px;
    cursor: pointer;
}



.links .link {
    display: inline-block;
}

.links a {
    text-decoration: none;
    color: #545454;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0 30px;
}

.links .aqui {
    border: 2px solid #508484;
    padding: 10px;
    border-radius: 20px;
    background: rgb(84,84,84);
    background: linear-gradient(90deg, rgba(84,84,84,0.47102591036414565) 0%, rgba(219,128,112,1) 100%);
}

.links a:hover {
    border-bottom: 2px solid #508484;
}

.carrito {
    margin-right: 10px;
    cursor: pointer;
}


.toggle {
    color: #508484;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
    transform: rotate(90deg);
    margin-bottom: 30px;
    transition: .3s;
    display: none;
}
.rotate {
    transform: rotate(180deg);
}

.links .here {
    border: 2px solid #508484;
    
}

.overlay {
    position: absolute;
    top:  80px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    background-color: rgba (255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show_overlay {
    display: block;
}

.content_nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:end;
    gap: 50px;
}

/* FIN NAVBAR */

/* CARRITO */

.modal_container {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 100;
    top: 0;
    margin-top: 80px;
    color: #131415;
    scrollbar-color: none;
    height: calc(100vh - 80px);
    width: 70%;
    padding: 20px;
    display: none;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.modal_header .modal_title {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #131415;
    text-shadow: 1px 2px 4px #db8070;
    text-transform: uppercase;
}


.modal_header .modal_btn {
    font-size: 1.2rem;
    color: #db8070;
    cursor: pointer;
    border: 2px solid #db8070;
    padding: 5px;
    border-radius: 30px;
    
}

.modal_container img {
    width: 15%;
    border-radius: 10px;
}

.modal_container .modal_content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: 1px solid #545454;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #db8070;
    background: rgb(84,84,84);
    background: linear-gradient(90deg, rgba(84,84,84,0.47102591036414565) 0%, rgba(219,128,112,1) 100%);
}

.modal_content .modal_precio {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content:center;
    text-align:center;
}

.modal_precio p {
    margin: 0 auto;
    color: #db8070;
    padding: 8px;
    border-radius: 5px;
    background: #545454;
}

.modal_content .modal_precio h3 {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 10px;
    color: #131415;
}

.modal_content .modal_cantidad {
    display: flex;
    justify-content:center;
    text-align: center;
    gap: 10px;
}

.modal_content .modal_cantidad .btn_cantidad {
    font-size: 1rem;
    font-weight: 500;
    color: #db8070;
    border: 1px solid #545454;
    padding: 1px 5px;
    border-radius: 50px;
    background-color: #545454;
    cursor: pointer;
}

.modal_content .modal_cantidad .num_cantidad {
    font-size: 1.2rem;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #131415;
}

.delete_product {
    color: #545454;
    cursor: pointer;
    font-size: 1.3rem;
}



.total_content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-top: 2px solid #db8070;
    margin-top: 40px;
    padding-top: 30px;
    letter-spacing: 1px;
}

.modal_container .btn_compra {
    cursor: pointer;
    background: rgb(84,84,84);
    background: linear-gradient(90deg, rgba(84,84,84,0.47102591036414565) 0%, rgba(219,128,112,1) 100%);
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}

.modal_container .btn_compra:hover {
    transform: translateY(-5px);
    transition: 0.2s all;
    box-shadow: 0px 4px 8px 2px #545454;
}

.carrito_nav i .cantidad_carrito {
    background: rgb(84,84,84);
    background: linear-gradient(90deg, rgba(84,84,84,0.47102591036414565) 0%, rgba(219,128,112,1) 100%);
    color: #f5f5f5;
    border-radius: 50%;
    font-size: 0.5rem;
    padding: 5px;
    top: 14px;
    right: 25px;
    position: absolute;
    display: none;
}

/* FIN CARRITO */

main {
    margin-top: 80px;
}

.container_form {
    height: 500px;
    max-width: 900px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    transition:all 1s ease;
    margin: 50px;
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #508484;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info_childs {
    width: 100%;
    padding: 0 30px;
}

.info_childs h2 {
    font-size: 1.9rem;
    color: #000001;
    letter-spacing: 1px;
}

.info_childs p {
    margin: 15px 0;
    font-size: 1.0rem;
    color: #000001 ;
    letter-spacing: 1px;
}

.info_childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #254a4a;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 03s ease;
    letter-spacing: 1px;
}

.info_childs input:hover {
    background-color: #508484;
    border: solid 2px transparent;
    color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.form_information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f5f5f5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form_information_childs {
    padding: 0 30px;
}

.form_information_childs h2 {
    color: #000001;
    font-size: 2rem;
    letter-spacing: 1px;
}

.form_info_childs p {
    color: #254a4a;
    letter-spacing: 1px;
}

.icons {
    margin: 15px 0;
}

.icons i {
    border-radius: 50%;
    padding: 15px;
    margin: 0 10px;
    color: #254a4a;
    cursor:pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}


.icons i:hover {
    background-color: #508484;
    color: #f5f5f5;
}

.form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
    border: solid thin #db8070;
} 

.form label input {
    width: 100%;
    background-color: aliceblue;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #254a4a;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.form label i {
    color: #254a4a;
    margin-right: 8px;
}

.form input[type="submit"] {
    background-color: #508484;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

.hide {
    position:absolute;
    transform: translate(-300%);
    -webkit-transform:translate(-300%);
}

.form input[type="submit"]:hover {
    background-color: #254a4a;
    color: #f5f5f5;
}



/* FOOTER */

footer {
    width: 100%;
    height: 55vh;
    background-color: #000001;
    z-index: 1;
}

.footer_content {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    color: #f5f5f5;
}

.footer_logo img {
    height: 100px;
}

.footer_content .footer_card {
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: #db8070;
}

.footer_content .footer_card h4 {
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #545454;
    padding-bottom: 15px;
}

.footer_card .footer_social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_social a {
    color: #db8070;
    font-size: 0.9rem;
}

.footer_social i {
    color: #545454;
    margin-left: 5px;
    margin-right: 8px;
}

.footer_card p {
    font-size: 1rem;
}

.footer_card .footer_form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer_form form p {
    margin-top: 10px;
    margin-bottom: 15px;
} 

.footer_form form label {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.footer_form form input {
    width: 80%;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 15px;
    outline: none;
}

.footer_form form a {
    border: solid 2px transparent;
    background-color: #db8070;
    padding: 10px;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #000001;
    box-shadow: 0px 4px 4px 2px #111111;
    transition: 0.2s;
}

.footer_form form a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* FIN FOOTER */

/* MEDIA QUERIES */

@media (max-width:1220px) {

    .navbar {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
    }

    .links a{
        font-size: 0.9rem;
        margin: 10px;
    }
    .carrito_nav {
        margin: 0 50px;
    }

    .img_hero img {
        height: 400px;
    }

    footer {
        width: 100%;
        height: 60vh;
    }
    .footer_content {
        display: flex;
        width: 100%;
    }
    .footer_content .footer_card {
        margin: 10px;
    }
}

@media (max-width:1024px) {

    .links a {
        font-size: 0.8rem;
        margin: 10px;
    }

    .carrito_nav i .cantidad_carrito {
        top: 20px;
        right: 45px;
    }

    .navbar {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
    }
    
    .menu {
        display: flex;
        margin-right: 10px;
        gap: 25px ;
    }

    .cart_fav {
        gap: 15px;
    }
}

@media (max-width:800px) {
    .container {
        width: 100%;
        max-width: 1300px;
        display:flex;
        justify-content:space-evenly;
    }

    .content_nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content:end;
    }

    .toggle {
        display: inline-block;
        
    }
    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #545454;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        margin-top: 80px;
        width: 100%;
        right: 0;
        right: -200vh;
        transition: .3s;
        z-index: -1;
    }

    .active {
        right: 0;
    }

    .links a  {
        color: #f5f5f5;
        font-size: 0.9rem;
    }

    .links li {
        margin: 10px;
        z-index: -1;
    }
    
    .links .link:hover {
        background: #282a2c;
    }
}

@media (max-width:769px) {
    html {
        font-size: 12px;
    }



    footer {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    .footer_content .footer_card {
        display: flex;
        flex-direction: column;

    }

}

@media (max-width:600px) {

    .navbar {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
    }

    footer {
        width: 100%;
        height: 100vh;
        margin-top: 10px;
    }
    .footer_content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 200vh;
        background-color: #000001;
    }
}

@media (max-width:580px) {
    html {
        font-size: 10px;
    }

    .links a {
        font-size: 1rem;
    }

    .container_form {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .links {
        width: 100%;
    }

    .modal_container {
        width: 100%;
    }

    .modal_content {
        width: 100%;
    }

    .modal_content img {
        width: 25%;
    }

    .modal_content .modal_precio h3 {
        font-size: 0.9rem;
    }

    .modal_content .modal_precio p {
        font-size: 0.8rem;
    } 

    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius:  20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .form_information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }
}

@media (max-width:400px){
    .container {
        display:flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        gap: 10px;

    }
    .content_nav {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content:end;
        gap: 5px;
    }


    .modal_container {
        width: 100%;
        display:flex;
    }

    .modal_content {
        width: 100%;
        display: flex;
        flex-direction:row;
        justify-content: center;
        text-align: center;
    }
modal_content img {
        width: 20%;
    }
    .
    
    .modal_precio {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    .modal_content .modal_precio h3 {
        font-size: 0.8rem;
        font-weight:500;
    }

    .modal_content .modal_precio p {
        font-size: 0.7rem;
        font-weight: 600;
    } 

}
